body {
    background-color: #252435;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-btn {
    cursor: pointer;
    transform: scale(3);
    width: 80px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw-bar {
    background-color: white;
    width: 65px;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px black;
    transition: 0.5s ease;
}

.draw-bar::before, .draw-bar::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 65px;
    height: 6px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px 0px black;
    transition: 0.5s ease;
}

.draw-bar::before {
    transform: translateY(-20px);
}

.draw-bar::after {
    transform: translateY(20px);
}

/* Animacion */

.menu-btn.active .draw-bar {
    transform: translateX(-50px);
    background-color: transparent;
    box-shadow: none;
}

.menu-btn.active .draw-bar::before {
    transform: rotate(45deg) translate(35px,-35px);
}

.menu-btn.active .draw-bar::after {
    transform: rotate(-45deg) translate(35px,35px);
}
